<div id="calendar"></div>

<script>
  window.reservations = <%= raw @events.to_json %>

  $('#calendar').fullCalendar({
    header: {
      left: 'title',
      center: '',
      right: 'prev,next'
    },
    defaultDate: $('#start-date').val(),
  });
</script>
