<div class="panel">
  <div class="panel-body">
    <% @notifications.each do |notification| %>
      <strong><%= notification.content %></strong>
      <span class="pull-right"><%= @notification.created_at.to_formatted_s(:short) %></span>
    <% end %>
  </div>
</div>
