  <nav class="navbar-inbetween">
      <ul class="nav navbar-nav subnav-item">
        <li <% if current_page?(dashboard_path) %> id="activepage" <% end %>><%= link_to "Reviews About You", dashboard_path %></li>

        <li <% if current_page?(rooms_path) %> id="activepage" <% end %> ><%= link_to "Reviews By You", rooms_path %></li>

        <% if !current_user.rooms.present? %>
          <li <% if current_page?(your_trips_path) %> id="activepage" <% end %> ><%= link_to "Your Trips", your_trips_path %></li>
        <% end %>

      </ul>
  </nav>
