  <nav class="navbar navbar-inbetween">
    <ul class="nav navbar-nav subnav-item" style="border-bottom: 1px solid darkgray">
      <li <% if current_page?(reviews_about_you_user_path) %> id="activetab2" <% end %>><%= link_to "Reviews About You", dashboard_path %></li>

      <li <% if current_page?(reviews_by_you_user_path) %> id="activetab2" <% end %> ><%= link_to "Reviews By You", reviews_by_you_user_path %></li>
    </ul>
  </nav>
