<div class="container">
  <div class="row">
  <%= render 'sidebar' %>

  <div class="col-md-9">
    <% if @guest_reviews.present? || @host_reviews.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Listed
        </div>
          <% @guest_reviews.each do |guest_review| %>
          <%= guest_review.comment %>
          <% end %>

          <% @host_reviews.each do |host_review| %>
          <%= host_review.comment %>
          <% end %>
        </div>
        </div>
    <% end %>
  
  </div>
  </div>
</div>
