  <nav class="navbar navbar-inbetween">
    <ul class="nav navbar-nav subnav-item" style="border-bottom: 1px solid darkgray">
      <li><%= room.name %></li>
      <li ><%= link_to "Preview listing", listing_details_room_path %></li>
    </ul>
  </nav>
