<div class="container">

  <%= render 'navbar' %>
  <div class="co-md-10">
  <h2>Need help hosting your space?</h2>
  <p>A co-host can help host your space so you can get a little support. Plus, they’ll be able to see and respond to messages using their own account so it’s easier for both of you to host. Learn more
  What can co-hosts do?</p>

  <hr>

    <h4>Host with a friend</h4>
    <p>Invite someone you know and trust to help host your home.</p>
    <a href="#" class="btn btn-form">Invite a friend</a>
  </div>

  <div class="col-md-2">
    <h4>No time to host?</h4>
    <p>You provide the space, a local co-host can handle the logistics. That way, you still earn extra money, but with less work!</p>
    <a href="#" class="btn btn-form">Find a co-host</a>
  </div>
