<div class="container">

  <%= render 'navbar' %>

<h2>Need help hosting your space?</h2>
<p>A co-host can help host your space so you can get a little support. Plus, they’ll be able to see and respond to messages using their own account so it’s easier for both of you to host. Learn more
What can co-hosts do?</p>

<hr>

<div class="co-md-10">
  <h4>Host with a friend</h4>
  <p>Invite someone you know and trust to help host your home.</p>
  
</div>
