<div class="container">
  <%= render 'navbar' %>

  <h1>Your local laws</h1>
  <p>Please educate yourself about the laws in your jurisdiction before listing your space.
  Most cities have rules covering homesharing, and the specific codes and ordinances can appear in many places (such as zoning, building, licensing or tax codes). In most places, you must register, get a permit, or obtain a license before you list your property or accept guests. You may also be responsible for collecting and remitting certain taxes. In some places, short-term rentals could be prohibited altogether.
  Since you are responsible for your own decision to list or book, you should get comfortable with the applicable rules before listing on Airbnb. To get you started, we offer some helpful resources under “Your City Laws.”
  By accepting our Terms of Service and listing your space, you certify that you will follow applicable laws and regulations.</p>
