<div class="container">
  <div class="alert alert-block alert-with-icon space-top-lg-4 space-top-md-4 hide-sm">
  <a href="#" class="alert-close"></a>
    <i class="icon currency-icon alert-icon icon-currency-jpy"></i>
    <h5>Earn $100 travel credit</h5>
    <p>Give your friends $40 off their first trip on Airbnb and you’ll get up to ¥ 10,100 travel credit.</p>
    <a href="https://www.airbnb.com/invite?r=35" class="btn btn-primary space-sm-2">Invite Friends</a>
    <button type="button" class="btn space-sm-2"></button>
  </div>

  <%= render 'users/sidebar' %>

  <!-- RIGHT CONTENT -->
  <div class="col-md-9">
    <!-- Notification -->
    <div class="panel panel-default">
      <div class="panel-heading">Notifications</div>
      <div class="panel-body">
      </div>
    </div>

    <!-- MESSAGE -->
    <div class="panel panel-default">
      <div class="panel-heading">Messages</div>
      <div class="panel-body">
        TBD
      </div>
      <div class="panel-body">
        All messages
      </div>
    </div>

    <!-- VERIFIED INFO -->
    <%= render 'users/verified_info' %>

  </div>
</div>
