// BUTTONS
.btn {
  border-radius: 5px;
  font-weight: bold;
  padding: auto auto;
  text-align: center;
}

.btn a {
  text-decoration: none;
  color: $ColorWhite;
}

.btn-block {
  display: block;
  white-space: normal;
  color: $ColorWhite;
}

.btn.btn-form {
  border: 1px solid $ColorGreen;
  background-color: $ColorGreen;
  color: $ColorWhite;
}

.btn.btn-normal {
  border: 1px solid $ColorRed;
  background-color: $ColorRed;
  padding: auto 5px;
  text-decoration: none;
  color: $ColorWhite;
}

.btn.btn-white {
  border: 1px solid $ColorGray;
  background-color: $ColorWhite;
  padding: auto 10px;
  margin: auto 3px;
  color: $ColorDarkgray;
  float: left;
}

.btn.btn-edit {
  border: 2px solid $ColorGreen;
  background-color: $ColorWhite;
  padding: auto 10px;
  margin: auto 3px;
  color: $ColorGreen;
  float: right;
}

.btn:hover, .btn:focus {
  color: $ColorWhite;
}

.btn.btn-default {
  width: 100%;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
}

.btn.btn-normal:active {
  outline: none;
  border-color: #e00007;
  background-color: #e00007;
}

.btn.btn-form:active {
  outline: none;
  border-color: #066165;
  background-color: #066165;
}

.btn.btn-facebook {
  border: 1px solid #3B5998;
  background-color: #3B5998;
}

.btn.btn-facebook:active {
  outline: none;
  border-color: #2d467b;
  background-color: #2d467b;
}

#publish_button {
  text-decoration: none;
}


// ICONS

.fa-thumbs-up:before {
  color: $ColorGreen;
}

.fa-thumbs-down:before {
  color: $ColorGreen;
}
