// BASE COLORS
$ColorGreen: #009aab;
$ColorRed: #FF5A5F;

$borderColor: solid #EEEEEE;

// CHARACTAR COLORS
$ColorBlack: #333333;
$ColorDarkgray: #434A54;
$ColorGray: #999999;
$ColorLightgray: #DDDDDD;
$ColorWhite: #FFFFFF;

// HEIGHT
$navboxHeight: 32px;


