//FOOTER
.footer-body {
  width: 100%;
}

.footer li a {
  color: DarkGray;
}

.footer-right {
  float: right;
  text-decoration: none;
  list-style: none;
  text-align: center;
}

.footer-right li {
  display: inline-block;
}

.footer-left {
  float: left;
}

.footer-bottom {
  clear: both;
  color: DarkGray;
}

.avatar-gray {
  float: left;
}

li {
  list-style: none;
}

select {
  float: left;
  width: 244px;
  height: 46px;
  border: 1px solid #dbdbdb;
  background-color: white;
  border-radius: 0px 0px 0px 0px;
}

.table-ul {
  display: table;
  table-layout: fixed;
  width: 21%;
}

.table-ul li {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
