//FOOTER
.footer-body {
  width: 100%;
}

.footer li a {
  color: DarkGray;
}

.footer-right {
  float: right;
  text-decoration: none;
  list-style: none;
  width: 500px;
  text-align: center;
}

.footer-right li {
  display: inline-block;
}

.footer-bottom {
  clear: both;
}

.avatar-gray {
  float: left;
  color: DarkGray;
}

.avatar-gray {
  color: DarkGray;
}

li {
  list-style: none;
}

select {
  float: left;
  width: 244px;
  height: 46px;
  border: 1px solid #dbdbdb;
  background-color: white;
  border-radius: 0px 0px 0px 0px;
}
