.navbar {
  clear: both;
  width: 100%;
}

.navbar-right {
  height: 64px;
}

.navbar-default {
  background-color: $ColorWhite;
}

.navbar-default .navbar-brand {
  color: $ColorRed;
  font-size: 2em;
  font-weight: 400;
}

.navbar-inbetween {
  height: 40px;
}

.navbar-default li {
  line-height: 30px;
  display: block;
  margin: auto 10px;
}

.navbar-left {
  margin: 15px 0px;
}

.navbar-nav li a {
  display: block;
  line-height: 30px;
}

.dropdown-menu {
  width: 280px;
}

.dropdown-menu li a {
  line-height: 40px;
  width: 248px;
  text-align: left;
  color: $ColorDarkgray;
}

.subnav-item {
  height: 40px;
  width: 100%;
}

.subnav-item li a {
  line-height: 10px;
  color: #bbb;
}

#mainlogo {
  width: 80px;
  display: block;
  text-align: center;
  line-height: 64px;
  margin-left: 3px;
}

.icon-gray {
  float: left;
  width: 32px;
  line-height: $navboxHeight;
  text-align: center;
}

// BOXES
#search {
  float: left;
  border: none;
  outline: none;
  height: $navboxHeight;
}

#start_date {
  float: left;
  text-align: left;
  border: none;
  outline: none;
  height: $navboxHeight;
}

#end_date {
  float: left;
  text-align: left;
  border: none;
  outline: none;
  height: $navboxHeight;
}

table td {
  border: 1px solid DarkGray;
}

// ACTIVATED STYLES
#activepage a {
  color: $ColorWhite;
  display: block;
  height: 40px;
  line-height: 10px;
  vertical-align: middle;
  border-bottom: 3px solid DarkGray;
  padding: 15px 0px;
  margin: auto 3px;
}

#activetab a {
  color: $ColorGreen;
  display: block;
  height: 40px;
  line-height: 10px;
  vertical-align: middle;
  border-bottom: 3px solid $ColorGreen;
  padding: 15px 0px;
  margin: auto 15px;
}

#activetab2 a {
  color: $ColorDarkgray2;
  display: block;
  height: 40px;
  line-height: 10px;
  vertical-align: middle;
  border-bottom: 3px solid $ColorDarkgray2;
  padding: 15px 0px;
  margin: auto 15px;
}
