.navbar-default {
  background-color: #FFFFFF;
}

.navbar-default .navbar-brand {
  color: #FF5A5F;
  font-size: 2em;
  font-weight: 400;
}

.navbar-inbetween {
  margin: 0px 0px;
  height: 40px;
}

.navbar-default li {
  line-height: 30px;
  display: block;
  margin: auto 10px;
}

.navbar-left {
  margin: 15px 0px;
}

.navbar-nav li a {
  display: block;
  line-height: 30px;
  height: 64px;
}

.dropdown-menu {
  width: 280px;
}

.dropdown-menu li a {
  display: block;
  line-height: 50px;
  height: 50px;
  width: 248px;
  text-align: left;
}

.subnav-item {
  color: #bbb;
  height: 40px;
}

.subnav-item li a {
  line-height: 10px;
}

#mainlogo {
  width: 82px;
  display: block;
  text-align: center;
  line-height: 64px;
}

.icon-gray {
  float: left;
}

#search {
  margin: 0px 0px 0px 0px;
}

#start_date {
  text-align: left;
}

#end_date {
  text-align: left;
}
