// ROOM SHOW
.amenities li {
  margin-bottom: 10px;
  font-size: 16px;
  list-style-type: none;
}

.amenities .text-line-through {
  text-decoration: line-through;
  color: rgba(0,0,0,0.45);
  font-size: 14px;
}

// RESERVATIONS

.reservation-table td {
  border: none;
  border-bottom: 1px solid #dce0e0;
  padding: 10px;
}

.reservation-table .total td {
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.form-control.datepicker {
  color: #00A699;
  background-color: $ColorWhite;
  border: 1px solid #DBDBDB;
  text-align: center;
}

.message-alert {
  color: #d43242;
  font-size: 14px;
  padding-top: 10px;
}

.body-left {
  width: 60%;
  float: left;
}

.body-full {
  width: 100%;
}

.fixed {
  position: fixed;
  top: 15px;
  right: 10%;
}

.body-right {
  float: right;
  right: 11%;
  z-index: 100;
}

#reservationpanel-heading {
  height: 50px;
}

// SEARCH

#search-container {
  margin-top: 104px;
  min-height: 500px;
}


#main {
  height: 100%;
  overflow: hidden;
}

#left {
  padding: 10px 400px 10px 20px;
  overflow: scroll;
  height: 100%;
}

#right {
  position: fixed;
  top: 0px;
  right: 0px;
  margin-top: 104px;
  width: 450px;
  height: 100%;
}

#map{
  width: 100%;
  height: 100%;
}

.map_price {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #00A699;
}
