.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-list li {
  line-height: 30px;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
}


.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #CACCCD;
  text-decoration: none;
}

#active-sidebar a {
  color: $ColorGreen;
  font-weight: bold;
  text-decoration: none;
}

.inactive.sidebar-link{
  color: $ColorGray;
}
