@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "fullcalendar";
@import "./colors";
@import "./buttons";
@import "./footer";
@import "./forms";
@import "./rooms";
@import "./navbar";
@import "./sidebar";
@import "./calendars";
@import "./dashboards";


body {
  color: #565a5c;
  background-color: white;
  font-family: "Century Gothic", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

li a {
  color: $ColorGreen;
}

.annotation {
  color: DarkGray;
}

.container {
  width: 80%;
  height: 100%;
  overflow: auto;
}

.text-babu, .icon-babu {
  color: #gray;
}

.text-red, .icon-red {
  color: #FF5A5F;
}

.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.clearfix{
  clear: both;
}

.right {
  float: right;
}

#profile-photo-large{
  line-height: 238px;
  text-align: center;
  height: 238px;
}

// PANELS
.panel-default .panel-heading {
  color: #484848;
  background-color: #edefed;
  font-size: 18px;
  font-weight: 400;
}

.panel-right {
  float: right;
  width: 60%;
}
.panel-left {
  float: left;
  text-align: right;
  width: 20%;
  margin: auto 10px;
}

.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

// AVATAR
.avatar-small {
  width: 20.5px;
  height: 20.5px;
}

.avatar-medium {
  width: 40px;
  height: 40px;
}

.avatar-large {
  width: 68px;
  height: 68px;
}

.avatar-full {
  width: 100%;
}

// PHOTO UPLOAD
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.panel-heading.preview {
  padding: 0;
}

.panel-heading.preview img {
  width: 100%;
}

.video-thumb {
  border: 1px solid $borderColor;
  background-color: $ColorLightgray;
  height: 400px;
}

.video-title {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.video-icon i {
  width: 100%;
  text-align: center;
}

// HOME PAGE
.discovery-card {
  background-size: cover;
  background-position: center;
  height: 326px;
}

.banner {
  margin-top: 50px;
  margin-bottom: 50px;
}

.verified_info li {
  line-height: 29px;
  list-style: none;
}

// ICONS AND IMAGES
.fa-check-circle-o:before{
  font-size: 2em;
}

.user-image {
  text-align: center;
  vertical-align: center;
  height: 237px;
  width: 225px;
}
